* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --bg: #9B0C9B;
}

body {
    background-color: var(--bg);
    /* background-color: #fff; */
    height: 100vh;
}

main {
    display: flex;
    width: 800px;
    background: whitesmoke;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1 solid rgba(209, 209, 209);
    border-radius: 15px;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 0px 38px 12px rgba(209, 209, 209, 0.59);
    -moz-box-shadow: 0px 0px 38px 12px rgba(209, 209, 209, 0.59);
    box-shadow: 0px 0px 38px 12px rgba(209, 209, 209, 0.59);


}

p {
    padding: 20px;
    font-size: 2em;
    /* columns: #0000; */
    color: var(--bg);
    text-align: center;
}

button {
    padding: 0;
    margin-bottom: 10px;
    border: none;
    background: none;
}

.btn {
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 1.5em;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    transform: translateY(-5px);
}

.btn::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -6px;
    background: var(--bg);
    height: 2px;
    transition: 0.3s ease-out;
}

.btn:hover::after {
    width: 100%;

}